.container {
  padding-top: 110px;
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/home-view.jpg');
  background-position: center center;
  background-size: cover;
}

.formTitle {
  text-align: center;
  margin-bottom: 20px;
}

.regForm {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.inputBox {
  position: relative;
  display: flex;
  padding: 15px 0 0;
  margin-bottom: 50px;
  width: 200px;
}

.input {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid #6b6a6a;
  outline: 0;
  font-size: 1.1rem;
  color: #231f20;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #6b6a6a;
}

.input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: #231f20;
}

.input:focus ~ .label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #231f20;
  font-weight: 700;
}

.input:required,
.input:invalid {
  box-shadow: none;
}

.button {
  width: 200px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #231f20;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

  background: #231f20;
  color: #eaeaec;
  line-height: 42px;
  letter-spacing: 0.05em;
  padding: 0;
  border: none;
}

.buttonName {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.button:before,
.button:after {
  position: absolute;
  content: '';
  height: 0%;
  width: 2px;
  background: #231f20;
}
.button:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.button:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.button:hover {
  color: #231f20;
  background: transparent;
}
.button:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.button:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.buttonName:before,
.buttonName:after {
  position: absolute;
  content: '';
  background: #231f20;
}
.buttonName:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.buttonName:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.buttonName:hover:before {
  width: 100%;
}
.buttonName:hover:after {
  width: 100%;
}

.showPasswordBtn {
  margin-left: 10px;
  position: absolute;
  top: 50%;
  right: -30px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button[disabled] {
  pointer-events: none;
  opacity: 0.4;
}

.errorMsg {
  position: absolute;
  top: 100%;
  font-size: 12px;
  color: red;
}
