:root {
  --shadow-color: #ff9e9e;
  --shadow-color-light: rgb(229 226 226);
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 100vh;

  background-image: url('../../images/home-view.jpg');
  background-position: center center;
  background-size: cover;
}

.title {
  animation: neon 3s infinite;
  text-align: center;
  text-align: left;

  color: #3f1616;
  text-shadow: -1px -1px 1px var(--shadow-color-light),
    -1px 1px 1px var(--shadow-color-light),
    1px -1px 1px var(--shadow-color-light),
    1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
    0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
    0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
    0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);

  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;

  @media screen and (min-width: 414px) {
    font-size: 95px;
  }

  @media screen and (min-width: 720px) {
    font-size: 120px;
    line-height: 1.1;
  }

  @media screen and (min-width: 1024px) {
    font-size: 170px;
    line-height: 1.1;
  }
}

.quote {
  padding: 0 20px;

  @media screen and (min-width: 720px) {
    padding: 0 60px;
  }
}
