.container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url('../../images/home.jpg');
  background-position: center center;
  background-size: cover;
}

.title {
  font-weight: 700;
  font-size: 85px;
  text-align: center;
  color: #eaeaec;
  text-align: right;
  line-height: 1.5;
  @media screen and (min-width: 720px) {
    line-height: 1;
    font-size: 130px;
  }
}

.quote {
  padding: 0px 20px;
  @media screen and (min-width: 720px) {
    padding: 0px 60px;
  }
}
