.filter {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 20px;

  @media screen and (min-width: 441px) {
    align-items: center;
    flex-direction: row;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  position: relative;
  @media screen and (min-width: 441px) {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.input {
  padding: 5px;

  border: 1px solid #9b9b9b;
  background-color: transparent;

  @media screen and (min-width: 441px) {
    width: 190px;
  }
}

.input:focus {
  outline: none;
}

.input ~ .focusBorder::before,
.input ~ .focusBorder::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 0;
  height: 2px;

  content: '';
  transition: 0.2s;
  transition-delay: 0.2s;

  background-color: #231f20;
}

.input ~ .focusBorder::after {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;

  transition-delay: 0.6s;
}

.input ~ .focusBorder i::before,
.input ~ .focusBorder i::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 2px;
  height: 0;

  content: '';
  transition: 0.2s;

  background-color: #231f20;
}

.input ~ .focusBorder i::after {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;

  transition-delay: 0.4s;
}

.input:focus ~ .focusBorder::before,
.input:focus ~ .focusBorder::after {
  width: 100%;

  transition: 0.2s;
  transition-delay: 0.6s;
}

.input:focus ~ .focusBorder::after {
  transition-delay: 0.2s;
}

.input:focus ~ .focusBorder i::before,
.input:focus ~ .focusBorder i::after {
  height: 100%;

  transition: 0.2s;
}

.input:focus ~ .focusBorder i::after {
  transition-delay: 0.4s;
}

.button {
  position: relative;

  display: inline-block;

  width: 100px;
  height: 28px;
  padding: 0;

  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #eaeaec;
  border: 1px solid #231f20;
  border: none;
  background: transparent;

  background: #231f20;

  font-weight: 700;
  line-height: 30px;
}

.buttonName {
  position: relative;

  display: block;

  width: 100%;
  height: 100%;
}

.button::before,
.button::after {
  position: absolute;

  width: 1px;
  height: 0%;

  content: '';

  background: #231f20;
}

.button::before {
  top: 0;
  right: 0;

  transition: all 500ms ease;
}

.button::after {
  bottom: 0;
  left: 0;

  transition: all 500ms ease;
}

.button:hover {
  color: #231f20;
  background: transparent;
}

.button:hover::before {
  height: 100%;

  transition: all 500ms ease;
}

.button:hover::after {
  height: 100%;

  transition: all 500ms ease;
}

.buttonName::before,
.buttonName::after {
  position: absolute;

  content: '';

  background: #231f20;
}

.buttonName::before {
  top: 0;
  left: 0;

  width: 0%;
  height: 1px;

  transition: all 500ms ease;
}

.buttonName::after {
  right: 0;
  bottom: 0;

  width: 0%;
  height: 1px;

  transition: all 500ms ease;
}

.buttonName:hover::before {
  width: 100%;
}

.buttonName:hover::after {
  width: 100%;
}

.button[disabled] {
  pointer-events: none;

  opacity: 0.4;
}
