.navigation {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  @media screen and (min-width: 720px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #1a1a1b;
}
