.navigation {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @media screen and (min-width: 720px) {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;

    margin-left: 20px;
  }
}

.link {
  display: inline-block;

  padding: 12px;

  text-decoration: none;

  color: #231f20;

  font-weight: 700;
}
