.contacts {
  box-sizing: border-box;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  padding-top: 110px;

  color: #231f20;
  background-image: url('../../images/phone-mobile.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  @media screen and (min-width: 500px) {
    background-image: url('../../images/phone-tablet.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-width: 720px) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 875px) {
    background-image: url('../../images/phone-tablet.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-width: 1024px) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @media screen and (min-width: 1170px) {
    background-image: url('../../images/phone-desktop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    justify-content: space-around;
  }
}
