.main {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  min-height: 640px;
  box-sizing: border-box;
  width: 320px;
  padding-top: 110px;
}

@media screen and (min-width: 440px) {
  .main {
    width: 440px;
  }
}

@media screen and (min-width: 720px) {
  .main {
    display: flex;
    justify-content: space-between;
    width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    padding-left: 60px;
    padding-right: 60px;
    width: 1024px;
  }
}
