.header {
  position: absolute;
  z-index: 100;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  background-color: rgb(100 0 0 / 10%);

  @media screen and (min-width: 1024px) {
    padding: 20px 60px;
  }
}

.burger {
  position: absolute;
  top: 38px;
  right: 38px;

  width: 35px;
  height: 35px;
}

.burgerBars {
  background-color: #ff524b;
}

.crossButton {
  width: 24px;
  height: 24px;
}

.cross {
  background: #231f20;
}

.menu {
  overflow: hidden !important;

  padding: 30px;
  padding-top: 60px;

  background: #ff524b;

  font-size: 1.15em;

  @media screen and (min-width: 720px) {
    padding: 30px;
  }
}

.overlay {
  top: 0;
  left: 0;
}
