.header {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(100, 0, 0, 0.1);
  position: absolute;
  top: 0;
  z-index: 100;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 20px 60px;
  }
}

.burger {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 38px;
  right: 38px;
}

.burgerBars {
  background-color: #ff524b;
}

.crossButton {
  height: 24px;
  width: 24px;
}

.cross {
  background: #231f20;
}

.menu {
  background: #ff524b;
  font-size: 1.15em;
  overflow: hidden !important;
  padding: 30px;
  padding-top: 60px;
  @media screen and (min-width: 720px) {
    padding: 30px;
  }
}
