.total {
  margin-bottom: 20px;
}

.amount {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin-left: 4px;

  color: #ff524b;
  border: 1px solid #ff524b;
  border-radius: 50%;
}

@media screen and (max-width: 441px) {
  .amount {
    background-color: #eaeaec;
  }
}
