body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body.dark {
  // views
  #loginView,
  #homeView,
  #registerView {
    background-image: url('images/home-view-dark.jpg');
  }

  // navigation
  #homeLink,
  #contactsLink,
  #register,
  #login {
    color: #eaeaec;
    background: transparent;
  }

  #register.activeLink,
  #login.activeLink {
    color: #ff524b;
  }

  #contactsList svg {
    fill: #eaeaec;
  }
  #logo {
    filter: brightness(2);
  }

  // forms
  #form input:focus ~ label,
  #loginForm input:focus ~ label,
  #regForm input:focus ~ label {
    color: #eaeaec;
  }

  #form input:focus,
  #loginForm input:focus,
  #regForm input:focus {
    border-color: #eaeaec;
  }

  #formName,
  #regFormName,
  #regFormEmail,
  #regFormPassword,
  #loginFormEmail,
  #loginFormPassword,
  #formNumber,
  #regTitle,
  #logTitle {
    color: #eaeaec;
  }
  #formBtn,
  #filterBtn,
  #regFormBtn,
  #loginFormBtn,
  #logoutBtn {
    background-color: #eaeaec;
    color: #231f20;
  }

  #logIconShown,
  #logIconShownSlash,
  #regIconShown,
  #regIconShownSlash {
    fill: #eaeaec;
  }

  // filter input
  #filterInput {
    color: #eaeaec;
  }

  #filterInput ~ span::before,
  #filterInput ~ span::after,
  #filterInput ~ span i::before,
  #filterInput ~ span i::after {
    background-color: #eaeaec;
  }

  // edit button
  #contactsList button[editext='edit-button'] {
    color: #eaeaec;
  }

  #contactsList button[editext='edit-button']:hover {
    color: #ff524b;
  }

  // delete button
  #contactsList button span {
    color: #eaeaec;
    background: #49494b;
  }
  #contactsList button p {
    color: #eaeaec;
  }
  #contactsList button {
    border-color: #eaeaec;
  }

  // option icons
  #closeIcon,
  #settingsIcon {
    fill: #eaeaec;
  }

  #settingsBtn:hover {
    filter: brightness(0.5);
  }

  // languages
  #selectedLang {
    border-color: #eaeaec;
    filter: grayscale(0%);
  }
  #langId:hover {
    border-color: #eaeaec;
  }

  // themes
  #switchTrack {
    border-color: #eaeaec;
  }
  #switchMarker {
    background-color: #eaeaec;
  }

  #theme-switch-toggle:checked + #switchTrack {
    border-color: #eaeaec;
  }

  #theme-switch-toggle:checked ~ #switchMarker {
    background-color: #eaeaec;
  }

  #lightIcon,
  #darkIcon {
    fill: #eaeaec;
  }

  // mobile menu
  #mobileMenu .bm-cross {
    background: #eaeaec !important;
  }

  // user name
  #userName,
  #userName span {
    color: #eaeaec;
  }

  // default data
  #defaultDataBox {
    color: #eaeaec;
  }

  // contacts view
  #contacts {
    background-image: url('images/phone-mobile-dark.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #eaeaec;
  }

  @media screen and (min-width: 500px) {
    #contacts {
      background-image: url('images/phone-tablet-dark.jpg');
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media screen and (min-width: 875px) {
    #contacts {
      background-image: url('images/phone-tablet-dark.jpg');
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media screen and (min-width: 1170px) {
    #contacts {
      background-image: url('images/phone-desktop-dark.jpg');
      background-attachment: fixed;
      background-position: center center, center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
