.langWrapper {
  margin-bottom: 10px;
}

.list {
  display: flex;
}

.item:not(:last-child) {
  margin-right: 5px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: border-color 300ms ease-in-out;

  border: 2px solid;
  border-color: transparent;
  border-radius: 50%;
  background: none;
  filter: grayscale(80%);
}

.selected {
  border-color: #231f20;
  filter: grayscale(0%);
}

.button:hover {
  border-color: #231f20;
}
