.nameBox {
  position: absolute;
  top: 10px;
  left: 10px;

  @media screen and (min-width: 720px) {
    position: static;
  }
}

.name {
  color: #231f20;

  font-size: 20px;
  font-weight: 700;
}

.profileWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  padding: 12px;

  @media screen and (min-width: 720px) {
    padding: unset;
  }
}

.buttonBox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;

  @media screen and (min-width: 720px) {
    align-items: center;
    flex-direction: row;
  }
}

.settingsBtn {
  margin: 0;
  margin-bottom: 130px;
  padding: 0;

  cursor: pointer;
  transition: filter 200ms linear;

  border: none;
  background-color: transparent;
  filter: brightness(1);

  @media screen and (min-width: 720px) {
    margin-right: 20px;
    margin-bottom: unset;
  }
}

.settingsBtn:hover {
  filter: brightness(3);
}

.icon {
  fill: #231f20;

  transition: fill 300ms linear;
}

.closeIcon {
  fill: #231f20;

  transition: fill 300ms linear;
}

.profileBtn:hover .icon {
  fill: #f16965;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 0;

  display: none;

  cursor: pointer;

  color: #eaeaec;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 720px) {
    display: block;
  }
}

.options {
  position: absolute;
  right: 12px;

  @media screen and (min-width: 720px) {
    top: 0;
    right: 0;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

    width: 175px;
    height: 175px;

    border-bottom-left-radius: 100%;
    background-color: #ff524b;
  }
}

.logoutBtn {
  position: relative;

  display: inline-block;

  width: 80px;
  height: 28px;
  padding: 0;

  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #eaeaec;
  border: 1px solid #231f20;
  border: none;
  background: transparent;

  background: #231f20;

  font-weight: 700;
  line-height: 30px;
}

.buttonName {
  position: relative;

  display: block;

  width: 100%;
  height: 100%;
}

.logoutBtn::before,
.logoutBtn::after {
  position: absolute;

  width: 1px;
  height: 0%;

  content: '';

  background: #231f20;
}

.logoutBtn::before {
  top: 0;
  right: 0;

  transition: all 500ms ease;
}

.logoutBtn::after {
  bottom: 0;
  left: 0;

  transition: all 500ms ease;
}

.logoutBtn:hover {
  color: #231f20;
  background: transparent;
}

.logoutBtn:hover::before {
  height: 100%;

  transition: all 500ms ease;
}

.logoutBtn:hover::after {
  height: 100%;

  transition: all 500ms ease;
}

.buttonName::before,
.buttonName::after {
  position: absolute;

  content: '';

  background: #231f20;
}

.buttonName::before {
  top: 0;
  left: 0;

  width: 0%;
  height: 1px;

  transition: all 500ms ease;
}

.buttonName::after {
  right: 0;
  bottom: 0;

  width: 0%;
  height: 1px;

  transition: all 500ms ease;
}

.buttonName:hover::before {
  width: 100%;
}

.buttonName:hover::after {
  width: 100%;
}

// mobile menu opening animation-------------------
.enter {
  opacity: 0;
}

.enterActive {
  transition: opacity 300ms ease-in-out;

  opacity: 1;
}

.exit {
  opacity: 1;
}

.exitActive {
  transition: opacity 300ms ease-in-out;

  opacity: 0;
}
